.app {
    background: rgb(76, 109, 218);
    height: 100vh;
    padding: 30px;
  }
  
  .todo-list {
    background: #010101d0;
    border-radius: 4px;
    max-width: 400px;
    padding: 5px;
    flex: auto;
    justify-content: center;
  }
  
  .todo {
    align-items: center;
    background: rgb(255, 255, 255);
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    margin-bottom: 6px;
    padding: 3px 10px;
  }